@model IPagedList<Attractions.Models.Information.InformationDataModel>


<h1>景點資訊列表頁</h1>
@using (Ajax.BeginForm("AjaxPage", "Home", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "messageContainer" }))
{
    <!-- 模糊查詢輸入框 -->
    <input type="text" id="searchInput" placeholder="標題、內容" />
    <input type="hidden" id="searchText" name="searchText" />
    <!-- 添加這行 -->
    <button type="button" id="searchButton">搜尋</button>
    <!-- 添加這行 -->
    <input type="hidden" id="selectedAreas" name="selectedAreas" />
    <input type="hidden" id="selectedCities" name="selectedCities" />

}

@if (Session["Username"] != null)
{
    <div>
        <button class="create-btn btn btn-primary">新增景點</button>
        <a href="@Url.Action("Logout", "Account")">登出</a>
    </div>
}
else
{
    <div>
        <button class="create-btn btn btn-primary" style="display: none;">新增景點</button>
        <a href="@Url.Action("Logout", "Account")" style="display: none;">登出</a>
    </div>
}
<!-- 區域、縣市勾選 -->
<div>
    <label><input type="checkbox" id="areaNorth">北基宜</label>
    <label><input type="checkbox" id="cityTaipei">台北</label>
    <label><input type="checkbox" id="cityXinbei">新北</label>
    <label><input type="checkbox" id="cityKeelung">基隆</label>
    <label><input type="checkbox" id="cityYilan">宜蘭</label>
</div>
<div>
    <label><input type="checkbox" id="areaNorth2">桃竹苗</label>
    <label><input type="checkbox" id="cityTaoyuan">桃園</label>
    <label><input type="checkbox" id="cityXinzhu">新竹</label>
    <label><input type="checkbox" id="cityMiaoli">苗栗</label>
</div>
<div>
    <label><input type="checkbox" id="areaCentral">中彰投</label>
    <label><input type="checkbox" id="cityTaichung">台中</label>
    <label><input type="checkbox" id="cityChanghua">彰化</label>
    <label><input type="checkbox" id="cityNantou">南投</label>
</div>
<div>
    <label><input type="checkbox" id="areaSouth">雲嘉南</label>
    <label><input type="checkbox" id="cityYunlin">雲林</label>
    <label><input type="checkbox" id="cityChiayi">嘉義</label>
    <label><input type="checkbox" id="cityTainan">台南</label>
</div>

<div id="messageContainer">
    @Html.Partial("partialArea", Model)
</div>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVl1ziKfTI1J5TI1Zl6cmI9saAgJUGo7xjTNVTd5fEXXm" crossorigin="anonymous">
    <script>
        $(document).ready(function () {
            var page = 1;

            // 分頁按鈕點擊事件
            $(document).on("click", ".pager", function (e) {
                e.preventDefault();
                var clickedPage = $(this).text();
                console.log(`Clicked Page: ${clickedPage}`);
                loadPage(parseInt(clickedPage));
            });

            $(".create-btn").click(function () {
                window.location.href = '@Url.Action("Create", "Home")';
            });

            // 點擊建立時間和最後編輯時間進行排序
            $(document).on("click", ".sortable-column", function () {
                var columnName = $(this).data("column-name");
                var sortOrder = $(this).data("sort-order");

                // 切換排序順序
                sortOrder = sortOrder === "asc" ? "desc" : "asc";

                // 更新數據屬性
                $(this).data("sort-order", sortOrder);

                // 根據排序順序更新箭頭圖標
                if (sortOrder === "asc") {
                    $(this).html(`${columnName} <i class="fa fa-sort-asc"></i>`);
                } else {
                    $(this).html(`${columnName} <i class="fa fa-sort-desc"></i>`);
                }


                // 使用排序參數觸發AJAX請求
                loadPage(page, columnName, sortOrder);
            });


            $('#searchButton').click(function () {
                var searchValue = $('#searchInput').val();
                $('#searchText').val(searchValue);
                // 獲取勾選的區域
                var selectedAreas = getSelectedCheckboxes('area');
                // 獲取勾選的城市
                var selectedCities = getSelectedCheckboxes('city');
                console.log('searchText:', searchValue);
                console.log('selectedAreas:', selectedAreas);
                console.log('selectedCities:', selectedCities);

                // 將值放入對應的隱藏欄位
                $('#selectedAreas').val(selectedAreas.join(','));  // 將區域以逗號分隔
                $('#selectedCities').val(selectedCities.join(','));  // 將城市以逗號分隔

                // 直接發送 AJAX 請求到 AjaxPage 方法
                $.ajax({
                    url: '/Home/AjaxPage',
                    type: 'GET',
                    data: { searchText: searchValue, selectedAreas: selectedAreas, selectedCities: selectedCities },
                    success: function (result) {
                        $('#messageContainer').html(result);
                    },
                    error: function (error) {
                        alert("加載頁面失敗");
                    }
                });

                // 阻止表單的默認提交行為
                return false;
            });


            // 在文檔準備就緒時綁定表單提交事件
            $(document).on("submit", "form", function (e) {
                e.preventDefault(); // 阻止表單的默認提交行為
                var searchValue = $('#searchInput').val();
                var selectedAreas = getSelectedCheckboxes('area');
                var selectedCities = getSelectedCheckboxes('city');

                // 直接發送 AJAX 請求到 AjaxPage 方法
                $.ajax({
                    url: '/Home/AjaxPage',
                    type: 'GET',
                    data: { searchText: searchValue, selectedAreas: selectedAreas, selectedCities: selectedCities },
                    success: function (result) {
                        $('#messageContainer').html(result);
                    },
                    error: function (error) {
                        alert("加載頁面失敗");
                    }
                });

                return false;
            });

            // 獲取選中的複選框
            function getSelectedCheckboxes(checkboxGroupName) {
                var selectedCheckboxes = [];
                $('input[type="checkbox"][id^=' + checkboxGroupName + ']:checked').each(function () {
                    selectedCheckboxes.push($(this).attr('id').replace(checkboxGroupName, ''));
                });
                return selectedCheckboxes;
            }

            // 加載頁面
            function loadPage(page) {
                console.log("Loading Page: " + page);
                var searchValue = $('#searchInput').val();
                var selectedAreas = getSelectedCheckboxes('area');
                var selectedCities = getSelectedCheckboxes('city');

                $.ajax({
                    url: '/Home/AjaxPage',
                    type: 'GET',
                    data: { page: page, searchText: searchValue, selectedAreas: selectedAreas, selectedCities: selectedCities },
                    success: function (result) {
                        $('#messageContainer').html(result);
                    },
                    error: function (error) {
                        alert("加載頁面失敗");
                    }
                });

                // 阻止表單的默認提交行為
                return false;
            }
        });
    </script>
}
